In [333]:
import pandas as pd

df = pd.read_csv('database - Copy.csv', index_col=False)
# print(df)

# match = df.loc[df.isin([100915599936344064]).any(axis=1)].index.tolist()[0]
# df.iloc[(match,'points')] -= 1
# print(df)


match = df[df["id"]==1]
# print(match)
df.iloc[match.index,2] -= 1

print(df)

filterdf = df.loc[df['name'] == 'Cyber Moon']
print(type(filterdf))

   id        name  totalpoints
0   1  Cyber Moon       999999
1   2   pitabread      1000000
2   3     Pwnstar      1000000
3   4    nameless      1000000
4   5  ChadPotato      1000000
5   6  SakanaFish      1000000
6   7      Yu Wot      1000000
7   8       Bazba      1000000
<class 'pandas.core.frame.DataFrame'>

In [334]:
df1 = pd.read_csv('database.csv')
# print(df1)

try:
    numl = df1['wl'].value_counts()['lose']
except KeyError:
    numl = 1
try:
    numw = df1['wl'].value_counts()['win']
except KeyError:
    numw = 1
total = numw + numl

# try:
#     testnum = df1['wl'].value_counts()['test']
# except KeyError:
#     testnum=0

# # print(testnum)

oddsw = numw/total
oddsl = numl/total

# # print(oddsw, oddsl)

# print(1/oddsw, 1/oddsl)

# for i in df1.values:
#     if i[1] == 'lose':
#         df1.loc['points',i[0]] *= 1/oddsl
#         print(i)
df1.loc[df1['wl']=='lose','points'] *= 1/oddsl
df1.loc[df1['wl'] == 'win', 'points'] = 0
print(df1)

# print(df)
# for i,j in enumerate(df1['id']):
#     df.loc[df['id'] == j, 'points'] += df1.loc[df1['id']==j,'points']
    # print(i,j)

df = pd.merge(df, df1, how='left', on='id')
df = df.drop(columns = ['wl'])
df = df.fillna(0)

# df.loc[df['id']==1,'points'] += 1

# print(df)

df['totalpoints'] += df['points']
# print(df)
# df = df.drop(columns=['points_x', 'points_y'])
# df = df.rename(columns={'points_x': 'points'})
# print(df)
# print(df.at[1,'name'])
# df = df.drop(index=range(len(df)))
# print(df)
print(df)

for i in df.values:
    print(i)
# print(df.at[df[id]==100915599936344064,'points'])

   id    wl   points
0   1  lose  1006.25
1   2  lose  1337.00
2   3   win     0.00
3   4  lose  1345.75
4   5   win     0.00
5   6   win     0.00
6   7  lose   614.25
   id        name  totalpoints   points
0   1  Cyber Moon   1001005.25  1006.25
1   2   pitabread   1001337.00  1337.00
2   3     Pwnstar   1000000.00     0.00
3   4    nameless   1001345.75  1345.75
4   5  ChadPotato   1000000.00     0.00
5   6  SakanaFish   1000000.00     0.00
6   7      Yu Wot   1000614.25   614.25
7   8       Bazba   1000000.00     0.00
[1 'Cyber Moon' 1001005.25 1006.25]
[2 'pitabread' 1001337.0 1337.0]
[3 'Pwnstar' 1000000.0 0.0]
[4 'nameless' 1001345.75 1345.75]
[5 'ChadPotato' 1000000.0 0.0]
[6 'SakanaFish' 1000000.0 0.0]
[7 'Yu Wot' 1000614.25 614.25]
[8 'Bazba' 1000000.0 0.0]

In [335]:
# print(df.to_numpy())

df2 = pd.DataFrame(data = df.to_numpy(), columns=('id', 'name', 'totalpoints', 'points'))

# print(df2)

df1 = pd.read_csv('database.csv')

df3 = pd.DataFrame(columns=('id', 'name', 'totalpoints', 'points'))
# df = df.add(df1, column)
# print(df3.to_numpy())

dfnp = df3.to_numpy

import csv

header = ['id', 'name', 'totalpoints', 'points']
dfnp = df.to_numpy()
with open("database-test.csv", 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(dfnp)

df4 = pd.read_csv('database-test.csv')
df4np = df4.to_numpy()
for i in df4.values:
    print(i)
    i[0] = hex(i[0])
# print(df4np)
for i in df4np:
    i[0] = int(i[0], 0)

[1 'Cyber Moon' 1001005.25 1006.25]
[2 'pitabread' 1001337.0 1337.0]
[3 'Pwnstar' 1000000.0 0.0]
[4 'nameless' 1001345.75 1345.75]
[5 'ChadPotato' 1000000.0 0.0]
[6 'SakanaFish' 1000000.0 0.0]
[7 'Yu Wot' 1000614.25 614.25]
[8 'Bazba' 1000000.0 0.0]

TypeError: int() can't convert non-string with explicit base

In [ ]:
import random
import time
multi = (-10, -1, 0, 1, 10, 100, 1000)
random.seed(time.time())

rint = random.randint(1, 100)
# choice = random.choice(multi)
choice = random.randrange(-10, 100)

print(rint, choice)
val = choice * rint
print(val)

58 32
1856

In [ ]:
print(hex(100894799699132416))

print(int(hex(100894799699132416), 0))

import random
print(random.randint(-10, 10))
print(random.random())

'min' in 'minutes'

0x166734927c04000
100894799699132416
5
0.1830240603045843

True

In [337]:
lst = [35, 17, 18,5, 30, 20]
joined = '\n'.join([str(elem) for elem in lst])  # casting all elements to a string and joining
print(joined)

35
17
18
5
30
20